<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>

        .footer {
            position: fixed;
            left: 10px;
            bottom: 5px;
            right: 10px;
            background-color: #424949;
            color: white;
            text-align: center;
        }
    </style>
    <title>Login</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #424949;">
        <a class="navbar-brand" href="{% url 'login_app:index' %}">myDrive</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'login_app:index' %}">HOME<span class="sr-only">(current)</span></a>
                </li>
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="#">Hi, {{user.first_name}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login_app:logout_user' %}">LOGOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login_app:about' %}">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login_app:contact' %}">CONTACT</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login_app:about' %}">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login_app:contact' %}">CONTACT</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container my-3">
        <h1 style="text-align:center;">Welcome To myDrive</h1>
    </div>

    <hr>

    <div class="mx-auto" style="width: 300px; text-align:center;">
        <form action="login_user" method="post" class="form-horizontal">
            {% csrf_token%}
            <div class="col-xs-8 col-xs-offset-4">
                <h2>LOGIN</h2>
            </div>

            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" name="username" id="username" placeholder="Enter Username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Enter Password">
            </div>
            <button type="submit" class="btn btn-primary">LOGIN</button>
            <br />
            <div class="form-group">
                {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    {{message}}
                </div>
                {% endfor %}
            </div>
        </form>
    </div>

        <hr>

        <p style="text-align:center;">New to this site? <a href="{% url 'login_app:register' %}">Singup</a></p>

        <div class="footer">
            @Copyright myDrive 2022- All Right Reserved.
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>
</body>

</html>